.movie-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  .movie-details {
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .movie-details h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .movie-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .movie-details li {
    margin-bottom: 0.5rem;
  }
  